In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('/content/match.csv')

In [3]:
df.head()

,matchID,seasonID,matchDate,teamoneID,teamtwoID,teamoneScore,teamtwoScore,stadiumID,matchtypeID,Unnamed: 9
0,1,1,6/19/2020,8,3,1.0,2.0,1,1,"INSERT INTO MATCH (matchID, teamoneID, teamtwo..."
1,2,1,6/19/2020,4,34,0.0,2.0,1,1,"INSERT INTO MATCH (matchID, teamoneID, teamtwo..."
2,3,1,6/20/2020,29,33,0.0,2.0,1,1,"INSERT INTO MATCH (matchID, teamoneID, teamtwo..."
3,4,1,6/20/2020,22,24,2.0,1.0,1,1,"INSERT INTO MATCH (matchID, teamoneID, teamtwo..."
4,5,1,6/21/2020,33,4,2.0,0.0,1,1,"INSERT INTO MATCH (matchID, teamoneID, teamtwo..."

In [4]:
df.shape

(667, 10)

In [5]:
df['teamoneID'].value_counts()

teamoneID
22    69
33    68
4     64
8     45
29    44
24    42
25    35
5     34
28    32
21    31
17    21
31    21
9     14
10    14
23    14
6      9
27     9
1      7
19     7
35     7
12     7
7      7
34     7
32     7
16     7
20     7
2      7
15     7
3      7
18     7
13     7
26     3
Name: count, dtype: int64

In [6]:
df.dtypes

matchID           int64
seasonID          int64
matchDate        object
teamoneID         int64
teamtwoID         int64
teamoneScore    float64
teamtwoScore    float64
stadiumID         int64
matchtypeID       int64
Unnamed: 9       object
dtype: object

In [7]:
df['matchDate']=pd.to_datetime(df['matchDate'])

In [8]:
df

,matchID,seasonID,matchDate,teamoneID,teamtwoID,teamoneScore,teamtwoScore,stadiumID,matchtypeID,Unnamed: 9
0,1,1,2020-06-19,8,3,1.0,2.0,1,1,"INSERT INTO MATCH (matchID, teamoneID, teamtwo..."
1,2,1,2020-06-19,4,34,0.0,2.0,1,1,"INSERT INTO MATCH (matchID, teamoneID, teamtwo..."
2,3,1,2020-06-20,29,33,0.0,2.0,1,1,"INSERT INTO MATCH (matchID, teamoneID, teamtwo..."
3,4,1,2020-06-20,22,24,2.0,1.0,1,1,"INSERT INTO MATCH (matchID, teamoneID, teamtwo..."
4,5,1,2020-06-21,33,4,2.0,0.0,1,1,"INSERT INTO MATCH (matchID, teamoneID, teamtwo..."
...,...,...,...,...,...,...,...,...,...,...
662,663,14,2018-08-17,22,24,2.0,0.0,1,1,"INSERT INTO MATCH (matchID, teamoneID, teamtwo..."
663,664,14,2018-08-18,10,13,2.0,0.0,1,1,"INSERT INTO MATCH (matchID, teamoneID, teamtwo..."
664,665,14,2018-08-18,22,18,2.0,0.0,1,1,"INSERT INTO MATCH (matchID, teamoneID, teamtwo..."
665,666,14,2018-08-19,25,17,2.0,1.0,1,1,"INSERT INTO MATCH (matchID, teamoneID, teamtwo..."
666,667,14,2018-08-19,31,24,2.0,0.0,1,1,"INSERT INTO MATCH (matchID, teamoneID, teamtwo..."

In [9]:
df.dtypes

matchID                  int64
seasonID                 int64
matchDate       datetime64[ns]
teamoneID                int64
teamtwoID                int64
teamoneScore           float64
teamtwoScore           float64
stadiumID                int64
matchtypeID              int64
Unnamed: 9              object
dtype: object

In [10]:
df['day_code']=df['matchDate'].dt.dayofweek

In [11]:
df

,matchID,seasonID,matchDate,teamoneID,teamtwoID,teamoneScore,teamtwoScore,stadiumID,matchtypeID,Unnamed: 9,day_code
0,1,1,2020-06-19,8,3,1.0,2.0,1,1,"INSERT INTO MATCH (matchID, teamoneID, teamtwo...",4
1,2,1,2020-06-19,4,34,0.0,2.0,1,1,"INSERT INTO MATCH (matchID, teamoneID, teamtwo...",4
2,3,1,2020-06-20,29,33,0.0,2.0,1,1,"INSERT INTO MATCH (matchID, teamoneID, teamtwo...",5
3,4,1,2020-06-20,22,24,2.0,1.0,1,1,"INSERT INTO MATCH (matchID, teamoneID, teamtwo...",5
4,5,1,2020-06-21,33,4,2.0,0.0,1,1,"INSERT INTO MATCH (matchID, teamoneID, teamtwo...",6
...,...,...,...,...,...,...,...,...,...,...,...
662,663,14,2018-08-17,22,24,2.0,0.0,1,1,"INSERT INTO MATCH (matchID, teamoneID, teamtwo...",4
663,664,14,2018-08-18,10,13,2.0,0.0,1,1,"INSERT INTO MATCH (matchID, teamoneID, teamtwo...",5
664,665,14,2018-08-18,22,18,2.0,0.0,1,1,"INSERT INTO MATCH (matchID, teamoneID, teamtwo...",5
665,666,14,2018-08-19,25,17,2.0,1.0,1,1,"INSERT INTO MATCH (matchID, teamoneID, teamtwo...",6
666,667,14,2018-08-19,31,24,2.0,0.0,1,1,"INSERT INTO MATCH (matchID, teamoneID, teamtwo...",6

In [12]:
df['target']=(df['teamoneScore']-df['teamtwoScore'])

In [13]:
df=df[df['target']!=0]

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 667 entries, 0 to 666
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   matchID       667 non-null    int64
 1   seasonID      667 non-null    int64
 2   matchDate     667 non-null    datetime64[ns]
 3   teamoneID     667 non-null    int64
 4   teamtwoID     667 non-null    int64
 5   teamoneScore  654 non-null    float64
 6   teamtwoScore  654 non-null    float64
 7   stadiumID     667 non-null    int64
 8   matchtypeID   667 non-null    int64
 9   Unnamed: 9    667 non-null    object
 10  day_code      667 non-null    int32
 11  target        654 non-null    float64
dtypes: datetime64[ns](1), float64(3), int32(1), int64(6), object(1)
memory usage: 60.1+ KB

In [15]:
df=df.dropna()

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 654 entries, 0 to 666
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   matchID       654 non-null    int64
 1   seasonID      654 non-null    int64
 2   matchDate     654 non-null    datetime64[ns]
 3   teamoneID     654 non-null    int64
 4   teamtwoID     654 non-null    int64
 5   teamoneScore  654 non-null    float64
 6   teamtwoScore  654 non-null    float64
 7   stadiumID     654 non-null    int64
 8   matchtypeID   654 non-null    int64
 9   Unnamed: 9    654 non-null    object
 10  day_code      654 non-null    int32
 11  target        654 non-null    float64
dtypes: datetime64[ns](1), float64(3), int32(1), int64(6), object(1)
memory usage: 63.9+ KB

In [17]:
from sklearn.ensemble import RandomForestClassifier

In [18]:
predictors=['teamoneID','teamtwoID','day_code','seasonID']

In [19]:
rf=RandomForestClassifier(n_estimators=50,min_samples_split=30,random_state=1)

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
X=df[predictors].values
y=df['target'].values

In [22]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=1,stratify=y)

In [23]:
X_train

array([[12, 28,  4,  3],
       [13, 10,  6, 14],
       [20, 15,  3, 11],
       ...,
       [15, 20,  5, 11],
       [ 6, 33,  3, 12],
       [17, 33,  6,  6]])

In [ ]:
rf.fit(X_train,y_train)

RandomForestClassifier(min_samples_split=30, n_estimators=50, random_state=1)

In [ ]:
preds=rf.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
acc=accuracy_score(y_test,preds)

In [ ]:
acc

0.40458015267175573

In [ ]:
a={}
for i in y_test:
  if i not in a.keys():
    a[i]=0
    continue
  a[i]=a[i]+1

In [ ]:
a.keys()

dict_keys([-1, 2, -2, 1])

In [ ]:
combined=pd.DataFrame(dict(actual=y_test,prediction=preds))

In [ ]:
pd.crosstab(index=combined["actual"],columns=combined['prediction'])

prediction  -2  -1   1   2
actual
-2          30   4   4   8
-1          17   2   3   9
 1           8   0   1  13
 2           8   1   3  20

In [ ]:

print(len(y_test))

131

In [ ]:
print(len(preds))

131

In [ ]:
type(y_test)

numpy.ndarray

In [ ]:
for i,u in enumerate(y_test):
  if u>0:
    y_test[i]=1
  else:
    y_test[i]=0

In [ ]:
for i,u in enumerate(preds):
  if u>0:
    preds[i]=1
  else:
    preds[i]=0

In [ ]:
acc=accuracy_score(y_test,preds)

In [ ]:
acc

0.6870229007633588

In [ ]:
import joblib

# LÆ°u model vÃ o tá»‡p
joblib.dump(rf, 'model.joblib')

['model.joblib']